ipykernel
ipython
ipywidgets
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
kaleido
matplotlib
matplotlib-inline
numpy
pandas
plotly
scikit-learn
scipy
seaborn
statannot
pyarrow